/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #243665;
  --yellow: #eaff00;
  font-size: 16px;
}

ul {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  font-family: 'Lexend Deca', sans-serif;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

section {
  padding: 100px 0;
}

section#banner {
  padding: 180px 0;
}

header {
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 18px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header.sticky {
  padding: 12px 0;
}

header .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#home-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

#home-link > span {
  margin-left: 1rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.nav-links {
  list-style-type: none;
}

.link-menu {
  text-decoration: none;
  color: white;
  line-height: 2rem;
}

.link-menu:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(0, 0, 0, 0);
  bottom: 0px;
  content: ' ';
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.28s ease-in-out;
  -o-transition: all 0.28s ease-in-out;
  transition: all 0.28s ease-in-out;
  width: 0;
}

.link-menu:hover:after {
  border-color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: width 0.35s ease-in-out;
  -o-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
  width: 80%;
}

#home-link span {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  display: block;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  margin-left: 100px;
}

.nav-links li a:hover {
  color: #ddd;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

#banner {
  background-color: var(--primary);
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.software-package {
  width: 500px;
  max-width: 100%;
}

h1.banner-title {
  color: var(--yellow);
  font-size: 3rem;
  margin-block: 1rem;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  -webkit-animation: fadeIn ease 3s;
  animation: fadeIn ease 3s;
}

.description p {
  color: white;
  font-weight: 300;
  font-size: 1.75rem;
  margin-block: 0.4rem;
}

button.download-btn-banner {
  outline: none;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(50%, var(--yellow)),
    color-stop(50%, var(--primary))
  );
  background: -o-linear-gradient(right, var(--yellow) 50%, var(--primary) 50%);
  background: linear-gradient(to left, var(--yellow) 50%, var(--primary) 50%);
  background-size: 200% 100%;
  border: 2px solid var(--yellow);
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.15rem;
  font-weight: 600;
  color: black;
  background-position: right bottom;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

button.download-btn-banner:hover {
  background-position: left bottom;
  color: white;
}

.title-section {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.intro-content p {
  font-weight: 300;
  font-size: 1.25rem;
  text-align: justify;
}

.demo-container {
  margin-top: 80px;
}

.demo {
  margin: auto;
  max-width: 100%;
  margin-block: 10px;
  display: block;
}

.demo.start-btn {
  width: 150px;
}

.demo.rocket-btn {
  width: 200px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.demo-2 {
  width: 600px;
}

.demo-3 {
  width: 1000px;
}

#why-choose {
  background-color: var(--primary);
}

#why-choose .title-section {
  color: white;
}

.why-choose-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 80px;
}

.why-choose-card {
  background-color: white;
  border-radius: 1.875rem;
  border: 2px solid #000;
  width: 19rem;
  padding: 2rem;
  text-align: center;
  margin: 1rem;
}

.why-choose-card .icon {
  width: 5rem;
}

.why-choose-card .title {
  color: #000;
  text-align: center;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 500;
  height: 2.5rem;
}

.why-choose-card .description {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.download-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.download-container .os {
  text-align: center;
  margin-bottom: 2rem;
}

.download-container .os-img {
  width: 360px;
  max-width: 80%;
}

.download-container h3.title {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
}

.download-container button.download-button {
  outline: none;
  border: 2px solid var(--primary);
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(50%, var(--primary)),
    color-stop(50%, white)
  );
  background: -o-linear-gradient(right, var(--primary) 50%, white 50%);
  background: linear-gradient(to left, var(--primary) 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  width: 200px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.download-container button.download-button:hover {
  background-position: left bottom;
}

.download-container button.download-button span {
  display: block;
  color: white;
}

.download-container button.download-button:hover span {
  color: var(--primary);
}

.download-container button.download-button span.large {
  font-size: 1.25rem;
  font-weight: 500;
}

.download-container .description {
  margin-top: 3rem;
  font-weight: 300;
}

#upgrade {
  background-color: var(--primary);
}

#upgrade .title-section {
  color: white;
}

.upgrade-container {
  margin-top: 2rem;
}

.upgrade-container p {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.75rem;
  margin-block: 0.75rem;
}

.upgrade-container .zalo-icon {
  width: 2.5rem;
}

.upgrade-container .zalo-icon:hover {
  -webkit-animation: shake 2s infinite;
  animation: shake 2s infinite;
}

.upgrade-container p a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#guarantee .title-section {
  margin-block: 0.2rem;
}

.guarantee-container {
  width: 50rem;
  max-width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

.guarantee-container p {
  font-size: 1.25rem;
  font-weight: 300;
}

.guarantee-container .guarantee-img {
  width: 30rem;
  max-width: 80%;
}

.guarantee-container ul {
  list-style-type: none;
}

.guarantee-container ul > li {
  margin-block: 1.5rem;
  font-size: 1.125rem;
  font-weight: 300;
}

.guarantee-container span {
  display: block;
}

iframe {
  width: 920px;
  aspect-ratio: 1.72;
  max-width: 100%;
}

#conclusion {
  padding-top: 0;
}

#conclusion p {
  color: #000;
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 300;
}

#contact {
  background-color: var(--primary);
}

#contact .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-banner {
  width: 400px;
  max-width: 100%;
  margin-right: 10rem;
}

.footer-right p {
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
}

.footer-right .contact {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.footer-right a {
  margin-right: 20px;
}

.footer-right .icon-footer {
  width: 35px;
}

.float-button img {
  width: 3.5rem;
  height: 3.5rem;
  -webkit-animation: shake 2s;
  animation: shake 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.zalo-float-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 10;
}

.messenger-float-button {
  position: fixed;
  bottom: 6rem;
  right: 1.5rem;
  z-index: 10;
}

.fa-phone {
  transform: rotate(90deg);
}

.feedback-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.feedback-item {
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
}

.feedback-img {
  width: 100%;
}

@media (max-width: 1440px) {
  .software-package {
    width: 400px;
  }

  h1.banner-title {
    font-size: 2rem;
  }

  .description p {
    font-size: 1.25rem;
  }

  button.download-btn-banner {
    width: 120px;
    height: 40px;
    margin-top: 20px;
    font-size: 1rem;
  }

  .title-section {
    font-size: 1.75rem;
  }
  .float-button img {
    width: 3rem;
    height: 3rem;
  }

  .feedback-item {
    width: 33%;
  }
}

@media (max-width: 1200px) {
  .max-width {
    padding: 0 60px;
  }

  .nav-links li a {
    margin-left: 60px;
  }

  .footer-banner {
    margin-right: 0;
  }
}

@media (max-width: 947px) {
  :root {
    font-size: 14px;
  }

  .max-width {
    max-width: 930px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: '\f00d';
  }

  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    display: block;
  }

  .nav-links li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  h1.banner-title {
    font-size: 2rem;
    text-align: center;
  }

  .description p {
    font-size: 1.25rem;
    text-align: center;
  }

  .download-banner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 546px) {
  .max-width {
    padding: 0 30px;
  }

  section#banner {
    padding: 100px 0;
  }

  section {
    padding: 60px 0;
  }

  h1.banner-title {
    text-align: center;
  }

  .description p {
    text-align: center;
  }

  button.download-btn-banner {
    outline: none;
    background-color: var(--yellow);
    border: none;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.15rem;
    font-weight: 600;
  }

  .title-section {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .intro-content p {
    font-size: 1.1rem;
  }

  .guarantee-container p {
    font-size: 1.15rem;
  }

  .guarantee-container ul > li {
    font-size: 1rem;
  }

  #conclusion p {
    font-size: 1.2rem;
  }

  #contact .footer-container {
    gap: 1rem;
    padding-block: 50px;
  }

  .footer-right p {
    font-size: 1.1rem;
  }

  .feedback-item {
    width: 50%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  5% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  10% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  20% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  25% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  5% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  10% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  15% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  20% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  25% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
